export SHARED_DIR=/home/hadoopuser/.shared_data
export NAMENODE_DIR=${SHARED_DIR}/hadoop/namenode
export HADOOP_HOME=/home/hadoopuser/opt/hadoop
export HIVE_HOME=/home/hadoopuser/opt/hive
export SPARK_HOME=/home/hadoopuser/opt/spark
export HADOOP_INSTALL=$HADOOP_HOME
export HADOOP_MAPRED_HOME=$HADOOP_HOME
export HADOOP_COMMON_HOME=$HADOOP_HOME
export HADOOP_HDFS_HOME=$HADOOP_HOME
export YARN_HOME=$HADOOP_HOME
export HADOOP_COMMON_LIB_NATIVE_DIR=$HADOOP_HOME/lib/native
export PATH=$PATH:$HADOOP_HOME/sbin:$HADOOP_HOME/bin:$HIVE_HOME/bin:$SPARK_HOME/bin
export HADOOP_OPTS="-Djava.library.path=$HADOOP_HOME/lib/native"

alias beeline='beeline -u jdbc:hive2://localhost:10001/default'

clear 
print_center() {
COLUMNS=$(tput cols)
title=$1
printf "%*s\n" $(((${#title}+$COLUMNS)/2)) "$title"
}

figlet -c -t "D  E  .  D  E  V   > > >"
print_center "+------------------------------------------------------------------------+"
print_center "+ Powered with                                                           +"
print_center "+             --> JDK 1.8                                                +"
print_center "+             --> Hadoop 2.7.7                                           +"
print_center "+             --> Hive 2.3.7                                             +"
print_center "+             --> Spark 2.4.6                                            +"
print_center "+             --> MySQL Client                                           +"
print_center "+             --> python 3.6.9                                           +"
print_center "+------------------------------------------------------------------------+"  
